<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">班级说说</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li <% if(active=="index"){%> class="active" <%}%> ><a href="/">全部说说<span class="sr-only">(current)</span></a></li>
                    <% if (login) { %>
                        <li <% if(active=="username"){%> class="active" <%}%> ><a href="/user/<%= username%>">我的说说</a></li>
                    <%}%>
                <li <% if(active=="allusers"){%> class="active" <%}%> ><a href="/userlist">成员列表</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <% if (!login) { %>
            <ul class="nav navbar-nav navbar-right">
                <li <% if(active=="register"){%> class="active" <%}%>><a href="/register">注册</a></li>
                <li <% if(active=="login"){%> class="active" <%}%>><a href="/login">登录</a></li>
            </ul>
            <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><%= username%><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">设置个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
            <% } %>
        </div><!--/.navbar-collapse -->
    </div>
</nav>