<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>更改头像--班级说说</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style>
        .alert{
            display: none;
        }
    </style>
</head>

<body>

<% include header.ejs %>

<div class="container">
    <!-- Example row of columns -->
    <div class="row col-lg-8 col-lg-offset-2">
        <h2 class="text-center">更改头像</h2>
        <form enctype="multipart/form-data" method="post" action="/cutavatar">
            <div class="form-group">
                <label for="avatar">头像修改</label>
                <input type="file" id="avatar" name="avatar">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <button id="register" type="submit" class="btn btn-info">load</button>
        </form>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong>
            <p></p>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Well done!</strong>
            <p></p>
        </div>
    </div>
</div> <!-- /container -->
<footer class="container">
    <p>&copy; 2016 Company, Inc.</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(function () {
//ajax提交表单注册
        $('input').on('focus',function () {
            $('.alert').fadeOut();
        })
        $("#register").on('click', function () {
            var password = $('#password').val();
            var username = $('#username').val();
            if (password.length<6) {
                $('.alert-warning').fadeIn().children('p').text('密码长度不能小于6位!');
            }else if (username.length<5||username.length>10){
                $('.alert-warning').fadeIn().children('p').text('用户名长度在5-10位之间!');
            }else{
                $.post('/checkregister', {
                    "username": username,
                    "password": password
                }, function (res) {
                    console.log(res);
                    $('.alert').hide();
                    if (res.msgcode == 1) {
                        //注册成功
                        $('.alert-success').fadeIn().children('p').html(res.msg+'&nbsp;&nbsp;'+'<a href="/" class="alert-link">返回首页</a>');
                    } else if (res.msgcode == -1) {
                        //用户名被占用
                        $('.alert-warning').fadeIn().children('p').text(res.msg);
                    } else {
                        $('.alert-warning').fadeIn().children('p').text(res.msg);
                    }
                });
            }
        });
    });
</script>
</body>
</html>
