<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div.form {
            width: 700px;
            padding: 40px;
            border: 1px solid black;
            margin: 0 auto;
            display: flex;;
            align-items: center;;
            justify-content: space-around;
            flex-direction: column;
        }

        #name {
            font-size: 30px;
        }
        .caozuo{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100px;
            display: flex;
            align-items: center;
            background-color: yellow;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="form">
    <h1>小小聊天室</h1>
    <div>
        <ul class="list">

        </ul>
    </div>
    <div class="caozuo">
        <p><input type="text" id="content"></p>
        <p><input type="button" id="sub" value="发言"></p>
    </div>
</div>
</body>
</html>