<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div.form {
            width: 1200px;
            padding: 40px;
            border: 1px solid black;
            margin: 0 auto;
            display: flex;;
            align-items: center;;
            justify-content: space-around;
            flex-direction: column;
        }

        #name {
            font-size: 30px;
        }

        .list {
            width: 100%;
        }

        .caozuo {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100px;
            display: flex;
            align-items: center;
            background-color: #666;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="form">
    <h1>小小聊天室 欢迎-<span id="name"><%= name %></span></h1>
    <div>
        <ul class="list">

        </ul>
    </div>
    <div class="caozuo">
        <p><input type="text" id="content"></p>
        <p><input type="button" id="sub" value="发言"></p>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
    var socket = io();
    $('#content').keydown(function (e) {
        //把文本框的内容上传
        console.log(e.keyCode);
        if (e.keyCode == 13) {
            socket.emit('hello', {
                "content": $("#content").val(),
                "name": $("#name").html(),
                "time": new Date()
            });
            $(this).val('');
        }
    });
    socket.on('hi', function (msg) {
        $('.list').append('<li style="overflow: hidden;"><b>' + msg.name + '</b>' + ':&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + msg.content + '<span style="float: right">' + msg.time + '</span></li>');
    });
</script>
</body>
</html>